.receipt {
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto; 
    background-color: #f9f9f9;
    font-family: Arial, sans-serif; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    width: 90%; 
    max-width: 800px;
}

.receipt h2 {
    color: #333; 
    font-size: 45px;
    margin: 20px 0 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.receipt p {
    color: #555;
    line-height: 1.5; 
}

.receipt strong {
    color: #000;
}

#hotel-logo {
    width: 10%;
    display: block; 
    margin: 0 auto 20px; 
}

#phno{
    display: inline;
}

.hotel-info{
    border-bottom: 2px solid black;
    text-align: center; 
    margin-bottom: 20px;
}

.reservation-details{
    width: 100%;
    border-bottom: 2px solid black;
}

.page-end{
    border-bottom: 2px solid black;
    text-align: left; 
    padding-left: 20px; 
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-mid{
    text-align: left; 
    padding-left: 20px; 
    font-size: 18px;
}